@font-face {
    font-family: "Young Serif";
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
    font-size: 80%;


    --clr-White: hsl(0, 0%, 100%);
    --clr-Stone100: hsl(30, 54%, 90%);
    --clr-Stone150: hsl(30, 18%, 87%);
    --clr-Stone600: hsl(30, 10%, 34%);
    --clr-Stone900: hsl(24, 5%, 18%);
    --clr-Brown800: hsl(14, 45%, 36%);
    --clr-Rose800: hsl(332, 51%, 32%);
    --clr-Rose50: hsl(330, 100%, 98%);



    --ff-main: 'Outfit', sans-serif;
    --ff-headings: 'Young Serif', serif;
    --fs-main: 1rem;
    --fs-headings: 1.75rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    /*font-family: "Young Serif", serif;
    font-family: "Outfit", sans-serif; */  

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: var(--ff-headings);
    font-size: var(--fs-headings);
    font-weight: var(--fw-400);
    color: var(--clr-Brown800);
    margin-bottom: 1rem;
}

ul, ol {
    padding: 0 1.5rem;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--clr-Stone600)
}

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-400);
    font-size: var(--fs-main);
    line-height: 1.5;
    color: var(--clr-Stone900);
    background: var(--clr-Stone100);
}

.recipe-title {
    font-size: 2.5rem;
    color: var(--clr-Stone900);
}

.prep-title {
    font-size: 1.5rem;
    font-weight: var(--fw-600);
    color: var(--clr-Rose800);
    margin-bottom: .5rem;
}

strong {
    font-weight: var(--fw-700);
}

[data-cell="nutrient-value"] {
    color: var(--clr-Brown800);
    font-weight: var(--fw-600);
}

li {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

li::marker {
    color: var(--clr-Brown800);
    font-weight: var(--fw-600);
}

.wrapper {
    display: grid;
    place-items: center;
}


.recipe-wrapper {
    max-width: 45em;
    padding: 1.75rem;
    margin: 6rem 0;
    background: var(--clr-White);
    border-radius: 1.5rem;
}

.recipe-img {
    border-radius: .8rem;
    margin-bottom: 1rem;
}

section {
    margin-top: 1rem;
}

hr {
    outline: none;
    border: none;
    height: 1px;
    background: var(--clr-Stone600);
    margin-top: 2rem;
}

.prep-time {
    padding: 1.75rem;
    background: var(--clr-Stone100);
    border-radius: .8rem;
    margin-top: 2rem;
}

tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-bottom: 1px solid var(--clr-Stone150);
}

table {
    border-collapse: collapse;
    width: 100%;
}

@media (max-width: 500px) {
    .recipe-wrapper {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .recipe-img {
            border-radius: 0;
    }

    .recipe-container {
        padding: 0 1.7rem;
    }

    .recipe-title {
        font-size: 2.2rem;
    }
}